
@{
    ViewBag.Title = "Reports";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="pageheader">
    <h2><i class="icon icon-money"></i> Finance</h2>
    <div class="breadcrumb-wrapper">
        <span class="label">You are here:</span>
        <ol class="breadcrumb">
            <li><a href="~/">HSoG</a></li>
            <li><a href="~/finance/">Finance</a></li>
            <li class="active">Reports</li>
        </ol>
    </div>
</div>

<div class="row">

    <div class="col-sm-6 col-md-3">
        <div class="panel panel-success panel-stat">
            <div class="panel-heading">

                <div class="stat">
                    <div class="row">
                        <div class="col-xs-4">
                            <img src="~/content/images/is-user.png" alt="">
                        </div>
                        <div class="col-xs-8">
                            <small class="stat-label">Dues this week</small>
                            <h1>900k+</h1>
                        </div>
                    </div><!-- row -->

                    <div class="mb15"></div>

                    <div class="row">
                        <div class="col-xs-6">
                            <small class="stat-label">Pages / Visit</small>
                            <h4>7.80</h4>
                        </div>

                        <div class="col-xs-6">
                            <small class="stat-label">% New Visits</small>
                            <h4>76.43%</h4>
                        </div>
                    </div><!-- row -->
                </div><!-- stat -->

            </div><!-- panel-heading -->
        </div><!-- panel -->
    </div><!-- col-sm-6 -->

    <div class="col-sm-6 col-md-3">
        <div class="panel panel-danger panel-stat">
            <div class="panel-heading">

                <div class="stat">
                    <div class="row">
                        <div class="col-xs-4">
                            <img src="~/content/images/is-document.png" alt="">
                        </div>
                        <div class="col-xs-8">
                            <small class="stat-label">% Unique Visitors</small>
                            <h1>54.40%</h1>
                        </div>
                    </div><!-- row -->

                    <div class="mb15"></div>

                    <small class="stat-label">Avg. Visit Duration</small>
                    <h4>01:80:22</h4>

                </div><!-- stat -->

            </div><!-- panel-heading -->
        </div><!-- panel -->
    </div><!-- col-sm-6 -->

    <div class="col-sm-6 col-md-3">
        <div class="panel panel-primary panel-stat">
            <div class="panel-heading">

                <div class="stat">
                    <div class="row">
                        <div class="col-xs-4">
                            <img src="~/content/images/is-document.png" alt="">
                        </div>
                        <div class="col-xs-8">
                            <small class="stat-label">Page Views</small>
                            <h1>300k+</h1>
                        </div>
                    </div><!-- row -->

                    <div class="mb15"></div>

                    <small class="stat-label">% Bounce Rate</small>
                    <h4>34.23%</h4>

                </div><!-- stat -->

            </div><!-- panel-heading -->
        </div><!-- panel -->
    </div><!-- col-sm-6 -->

    <div class="col-sm-6 col-md-3">
        <div class="panel panel-dark panel-stat">
            <div class="panel-heading">

                <div class="stat">
                    <div class="row">
                        <div class="col-xs-4">
                            <img src="~/content/images/is-money.png" alt="">
                        </div>
                        <div class="col-xs-8">
                            <small class="stat-label">Today's Earnings</small>
                            <h1>$655</h1>
                        </div>
                    </div><!-- row -->

                    <div class="mb15"></div>

                    <div class="row">
                        <div class="col-xs-6">
                            <small class="stat-label">Last Week</small>
                            <h4>$32,322</h4>
                        </div>

                        <div class="col-xs-6">
                            <small class="stat-label">Last Month</small>
                            <h4>$503,000</h4>
                        </div>
                    </div><!-- row -->

                </div><!-- stat -->

            </div><!-- panel-heading -->
        </div><!-- panel -->
    </div><!-- col-sm-6 -->
</div>

<div class="row">
    <div class="col-sm-8 col-md-9">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-8">
                        <h5 class="subtitle mb5">Network Performance</h5>
                        <p class="mb15">Duis autem vel eum iriure dolor in hendrerit in vulputate...</p>
                        <div id="basicflot" style="width: 100%; height: 300px; margin-bottom: 20px; padding: 0px; position: relative;"><canvas class="flot-base" width="498" height="300" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 498px; height: 300px;"></canvas><div class="flot-text" style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; font-size: smaller; color: rgb(84, 84, 84);"><div class="flot-x-axis flot-x1-axis xAxis x1Axis" style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; display: block;"><div class="flot-tick-label tickLabel" style="position: absolute; max-width: 72px; top: 278px; left: 27px; text-align: center;">0.0</div><div class="flot-tick-label tickLabel" style="position: absolute; max-width: 72px; top: 278px; left: 102px; text-align: center;">1.0</div><div class="flot-tick-label tickLabel" style="position: absolute; max-width: 72px; top: 278px; left: 178px; text-align: center;">2.0</div><div class="flot-tick-label tickLabel" style="position: absolute; max-width: 72px; top: 278px; left: 254px; text-align: center;">3.0</div><div class="flot-tick-label tickLabel" style="position: absolute; max-width: 72px; top: 278px; left: 329px; text-align: center;">4.0</div><div class="flot-tick-label tickLabel" style="position: absolute; max-width: 72px; top: 278px; left: 405px; text-align: center;">5.0</div><div class="flot-tick-label tickLabel" style="position: absolute; max-width: 72px; top: 278px; left: 481px; text-align: center;">6.0</div></div><div class="flot-y-axis flot-y1-axis yAxis y1Axis" style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; display: block;"><div class="flot-tick-label tickLabel" style="position: absolute; top: 258px; left: 8px; text-align: right;">0.0</div><div class="flot-tick-label tickLabel" style="position: absolute; top: 215px; left: 8px; text-align: right;">2.5</div><div class="flot-tick-label tickLabel" style="position: absolute; top: 172px; left: 8px; text-align: right;">5.0</div><div class="flot-tick-label tickLabel" style="position: absolute; top: 129px; left: 8px; text-align: right;">7.5</div><div class="flot-tick-label tickLabel" style="position: absolute; top: 86px; left: 1px; text-align: right;">10.0</div><div class="flot-tick-label tickLabel" style="position: absolute; top: 43px; left: 1px; text-align: right;">12.5</div><div class="flot-tick-label tickLabel" style="position: absolute; top: 1px; left: 1px; text-align: right;">15.0</div></div></div><canvas class="flot-overlay" width="498" height="300" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 498px; height: 300px;"></canvas><div class="legend"><div style="position: absolute; width: 74px; height: 42px; top: 16px; left: 40px; opacity: 0.85; background-color: rgb(255, 255, 255);"> </div><table style="position:absolute;top:16px;left:40px;;font-size:smaller;color:#545454"><tbody><tr><td class="legendColorBox"><div style="border:1px solid #ccc;padding:1px"><div style="width:4px;height:0;border:5px solid #1CAF9A;overflow:hidden"></div></div></td><td class="legendLabel">Uploads</td></tr><tr><td class="legendColorBox"><div style="border:1px solid #ccc;padding:1px"><div style="width:4px;height:0;border:5px solid #428BCA;overflow:hidden"></div></div></td><td class="legendLabel">Downloads</td></tr></tbody></table></div></div>
                    </div><!-- col-sm-8 -->
                    <div class="col-sm-4">
                        <h5 class="subtitle mb5">Server Status</h5>
                        <p class="mb15">Summary of the status of your server.</p>

                        <span class="sublabel">CPU Usage (40.05 - 32 cpus)</span>
                        <div class="progress progress-sm">
                            <div style="width: 40%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="40" role="progressbar" class="progress-bar progress-bar-primary"></div>
                        </div><!-- progress -->

                        <span class="sublabel">Memory Usage (32.2%)</span>
                        <div class="progress progress-sm">
                            <div style="width: 32%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="40" role="progressbar" class="progress-bar progress-bar-success"></div>
                        </div><!-- progress -->

                        <span class="sublabel">Disk Usage (82.2%)</span>
                        <div class="progress progress-sm">
                            <div style="width: 82%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="40" role="progressbar" class="progress-bar progress-bar-danger"></div>
                        </div><!-- progress -->

                        <span class="sublabel">Databases (63/100)</span>
                        <div class="progress progress-sm">
                            <div style="width: 63%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="40" role="progressbar" class="progress-bar progress-bar-warning"></div>
                        </div><!-- progress -->

                        <span class="sublabel">Domains (2/10)</span>
                        <div class="progress progress-sm">
                            <div style="width: 20%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="40" role="progressbar" class="progress-bar progress-bar-success"></div>
                        </div><!-- progress -->

                        <span class="sublabel">Email Account (13/50)</span>
                        <div class="progress progress-sm">
                            <div style="width: 26%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="40" role="progressbar" class="progress-bar progress-bar-success"></div>
                        </div><!-- progress -->


                    </div><!-- col-sm-4 -->
                </div><!-- row -->
            </div><!-- panel-body -->
        </div><!-- panel -->
    </div><!-- col-sm-9 -->

    <div class="col-sm-4 col-md-3">

        <div class="panel panel-default">
            <div class="panel-body">
                <h5 class="subtitle mb5">Most Browser Used</h5>
                <p class="mb15">Duis autem vel eum iriure dolor in hendrerit in vulputate...</p>
                <div id="donut-chart2" style="text-align: center; height: 298px;"><svg height="298" version="1.1" width="217" xmlns="http://www.w3.org/2000/svg" style="overflow: hidden; position: relative; left: -0.5px;"><desc style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">Created with Raphaël 2.1.0</desc><defs style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></defs><path fill="none" stroke="#d9534f" d="M108.5,214.66666666666669A65.66666666666667,65.66666666666667,0,0,0,171.68149969918193,131.10560962554527" stroke-width="2" opacity="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: 1;"></path><path fill="#d9534f" stroke="#ffffff" d="M108.5,217.66666666666669A68.66666666666667,68.66666666666667,0,0,0,174.56796415244406,130.2880994053925L203.2722495487729,122.1584144383179A98.5,98.5,0,0,1,108.5,247.5Z" stroke-width="3" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><path fill="none" stroke="#1caf9a" d="M171.68149969918193,131.10560962554527A65.66666666666667,65.66666666666667,0,0,0,111.00970351523904,83.38130983190305" stroke-width="2" opacity="0" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: 0;"></path><path fill="#1caf9a" stroke="#ffffff" d="M174.56796415244406,130.2880994053925A68.66666666666667,68.66666666666667,0,0,0,111.12436002101137,80.38350165163466L112.07346109657132,55.56831171496857A93.5,93.5,0,0,1,198.4614754600027,123.52093147190583Z" stroke-width="3" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><path fill="none" stroke="#428bca" d="M111.00970351523904,83.38130983190305A65.66666666666667,65.66666666666667,0,0,0,46.86988231477443,126.33196732805524" stroke-width="2" opacity="0" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: 0;"></path><path fill="#428bca" stroke="#ffffff" d="M111.12436002101137,80.38350165163466A68.66666666666667,68.66666666666667,0,0,0,44.05429318194686,125.29637192679888L20.74747202687425,116.72394332751014A93.5,93.5,0,0,1,112.07346109657132,55.56831171496857Z" stroke-width="3" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><path fill="none" stroke="#5bc0de" d="M46.86988231477443,126.33196732805524A65.66666666666667,65.66666666666667,0,0,0,67.89342348190857,200.60636641531255" stroke-width="2" opacity="0" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: 0;"></path><path fill="#5bc0de" stroke="#ffffff" d="M44.05429318194686,125.29637192679888A68.66666666666667,68.66666666666667,0,0,0,66.03830069681811,202.96401767286488L50.68200653134699,222.48013086038156A93.5,93.5,0,0,1,20.74747202687425,116.72394332751014Z" stroke-width="3" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><path fill="none" stroke="#428bca" d="M67.89342348190857,200.60636641531255A65.66666666666667,65.66666666666667,0,0,0,108.47937020858078,214.6666634261465" stroke-width="2" opacity="0" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: 0;"></path><path fill="#428bca" stroke="#ffffff" d="M66.03830069681811,202.96401767286488A68.66666666666667,68.66666666666667,0,0,0,108.4784277308002,217.66666327810242L108.47062610917213,242.49999538595986A93.5,93.5,0,0,1,50.68200653134699,222.48013086038156Z" stroke-width="3" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><text x="108.5" y="139" text-anchor="middle" font="10px &quot;Arial&quot;" stroke="none" fill="#000000" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-style: normal; font-variant: normal; font-weight: 800; font-size: 15px; line-height: normal; font-family: Arial;" font-size="15px" font-weight="800" transform="matrix(1.8241,0,0,1.8241,-89.412,-121.963)" stroke-width="0.5482233502538071"><tspan dy="5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">Chrome</tspan></text><text x="108.5" y="159" text-anchor="middle" font="10px &quot;Arial&quot;" stroke="none" fill="#000000" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-style: normal; font-variant: normal; font-weight: normal; font-size: 14px; line-height: normal; font-family: Arial;" font-size="14px" transform="matrix(1.3681,0,0,1.3681,-39.934,-55.5764)" stroke-width="0.7309644670050761"><tspan dy="5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">30</tspan></text></svg></div>
            </div><!-- panel-body -->
        </div><!-- panel -->

    </div><!-- col-sm-3 -->

</div>

<div class="row">

    <div class="col-sm-7">

        <div class="table-responsive dashboard-datatable">
            <div id="table1_wrapper" class="dataTables_wrapper" role="grid">
                <div class="dataTables_filter" id="table1_filter"><label>Search: <input type="text" aria-controls="table1"></label></div><table class="table dataTable" id="table1" aria-describedby="table1_info">
                    <thead>
                        <tr role="row"><th class="sorting_asc" role="columnheader" tabindex="0" aria-controls="table1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending" style="width: 140px;">Rendering engine</th><th class="sorting" role="columnheader" tabindex="0" aria-controls="table1" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 222px;">Browser</th><th class="sorting" role="columnheader" tabindex="0" aria-controls="table1" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending" style="width: 203px;">Platform(s)</th></tr>
                    </thead>

                    <tbody role="alert" aria-live="polite" aria-relevant="all">
                        <tr class="gradeA odd">
                            <td class=" sorting_1">Gecko</td>
                            <td class=" ">Firefox 1.0</td>
                            <td class=" ">Win 98+ / OSX.2+</td>
                        </tr>
                        <tr class="gradeA even">
                            <td class=" sorting_1">Gecko</td>
                            <td class=" ">Firefox 1.5</td>
                            <td class=" ">Win 98+ / OSX.2+</td>
                        </tr>
                        <tr class="gradeA odd">
                            <td class=" sorting_1">Gecko</td>
                            <td class=" ">Firefox 2.0</td>
                            <td class=" ">Win 98+ / OSX.2+</td>
                        </tr>
                        <tr class="gradeA even">
                            <td class=" sorting_1">Gecko</td>
                            <td class=" ">Firefox 3.0</td>
                            <td class=" ">Win 2k+ / OSX.3+</td>
                        </tr>
                        <tr class="gradeA odd">
                            <td class=" sorting_1">Gecko</td>
                            <td class=" ">Camino 1.0</td>
                            <td class=" ">OSX.2+</td>
                        </tr>
                    </tbody>
                </table><div class="dataTables_info" id="table1_info">Showing 1 to 5 of 57 entries</div><div class="dataTables_paginate paging_two_button" id="table1_paginate"><a class="paginate_disabled_previous" tabindex="0" role="button" id="table1_previous" aria-controls="table1">Previous</a><a class="paginate_enabled_next" tabindex="0" role="button" id="table1_next" aria-controls="table1">Next</a></div>
            </div>
        </div><!-- table-responsive -->

    </div><!-- col-sm-7 -->

    <div class="col-sm-5">

        <div class="panel panel-success">
            <div class="panel-heading padding5">
                <div id="line-chart" style="height: 248px; position: relative;"><svg height="248" version="1.1" width="431" xmlns="http://www.w3.org/2000/svg" style="overflow: hidden; position: relative; left: -0.15625px;"><desc style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">Created with Raphaël 2.1.0</desc><defs style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></defs><text x="36.5" y="208" text-anchor="end" font="10px &quot;Arial&quot;" stroke="none" fill="#ffffff" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-style: normal; font-variant: normal; font-weight: normal; font-size: 12px; line-height: normal; font-family: sans-serif;" font-size="12px" font-family="sans-serif" font-weight="normal" fill-opacity="0.5"><tspan dy="4.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">0</tspan></text><text x="36.5" y="162.25" text-anchor="end" font="10px &quot;Arial&quot;" stroke="none" fill="#ffffff" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-style: normal; font-variant: normal; font-weight: normal; font-size: 12px; line-height: normal; font-family: sans-serif;" font-size="12px" font-family="sans-serif" font-weight="normal" fill-opacity="0.5"><tspan dy="4.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">17.5</tspan></text><text x="36.5" y="116.5" text-anchor="end" font="10px &quot;Arial&quot;" stroke="none" fill="#ffffff" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-style: normal; font-variant: normal; font-weight: normal; font-size: 12px; line-height: normal; font-family: sans-serif;" font-size="12px" font-family="sans-serif" font-weight="normal" fill-opacity="0.5"><tspan dy="4.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">35</tspan></text><text x="36.5" y="70.75" text-anchor="end" font="10px &quot;Arial&quot;" stroke="none" fill="#ffffff" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-style: normal; font-variant: normal; font-weight: normal; font-size: 12px; line-height: normal; font-family: sans-serif;" font-size="12px" font-family="sans-serif" font-weight="normal" fill-opacity="0.5"><tspan dy="4.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">52.5</tspan></text><text x="36.5" y="25" text-anchor="end" font="10px &quot;Arial&quot;" stroke="none" fill="#ffffff" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-style: normal; font-variant: normal; font-weight: normal; font-size: 12px; line-height: normal; font-family: sans-serif;" font-size="12px" font-family="sans-serif" font-weight="normal" fill-opacity="0.5"><tspan dy="4.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">70</tspan></text><text x="406" y="220.5" text-anchor="middle" font="10px &quot;Arial&quot;" stroke="none" fill="#ffffff" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-style: normal; font-variant: normal; font-weight: normal; font-size: 12px; line-height: normal; font-family: sans-serif;" font-size="12px" font-family="sans-serif" font-weight="normal" fill-opacity="0.5" transform="matrix(1,0,0,1,0,7.5)"><tspan dy="4.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">2012</tspan></text><text x="346.5271565495207" y="220.5" text-anchor="middle" font="10px &quot;Arial&quot;" stroke="none" fill="#ffffff" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-style: normal; font-variant: normal; font-weight: normal; font-size: 12px; line-height: normal; font-family: sans-serif;" font-size="12px" font-family="sans-serif" font-weight="normal" fill-opacity="0.5" transform="matrix(1,0,0,1,0,7.5)"><tspan dy="4.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">2011</tspan></text><text x="287.0543130990415" y="220.5" text-anchor="middle" font="10px &quot;Arial&quot;" stroke="none" fill="#ffffff" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-style: normal; font-variant: normal; font-weight: normal; font-size: 12px; line-height: normal; font-family: sans-serif;" font-size="12px" font-family="sans-serif" font-weight="normal" fill-opacity="0.5" transform="matrix(1,0,0,1,0,7.5)"><tspan dy="4.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">2010</tspan></text><text x="227.5814696485623" y="220.5" text-anchor="middle" font="10px &quot;Arial&quot;" stroke="none" fill="#ffffff" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-style: normal; font-variant: normal; font-weight: normal; font-size: 12px; line-height: normal; font-family: sans-serif;" font-size="12px" font-family="sans-serif" font-weight="normal" fill-opacity="0.5" transform="matrix(1,0,0,1,0,7.5)"><tspan dy="4.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">2009</tspan></text><text x="167.94568690095846" y="220.5" text-anchor="middle" font="10px &quot;Arial&quot;" stroke="none" fill="#ffffff" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-style: normal; font-variant: normal; font-weight: normal; font-size: 12px; line-height: normal; font-family: sans-serif;" font-size="12px" font-family="sans-serif" font-weight="normal" fill-opacity="0.5" transform="matrix(1,0,0,1,0,7.5)"><tspan dy="4.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">2008</tspan></text><text x="108.47284345047923" y="220.5" text-anchor="middle" font="10px &quot;Arial&quot;" stroke="none" fill="#ffffff" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-style: normal; font-variant: normal; font-weight: normal; font-size: 12px; line-height: normal; font-family: sans-serif;" font-size="12px" font-family="sans-serif" font-weight="normal" fill-opacity="0.5" transform="matrix(1,0,0,1,0,7.5)"><tspan dy="4.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">2007</tspan></text><text x="49" y="220.5" text-anchor="middle" font="10px &quot;Arial&quot;" stroke="none" fill="#ffffff" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-style: normal; font-variant: normal; font-weight: normal; font-size: 12px; line-height: normal; font-family: sans-serif;" font-size="12px" font-family="sans-serif" font-weight="normal" fill-opacity="0.5" transform="matrix(1,0,0,1,0,7.5)"><tspan dy="4.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">2006</tspan></text><path fill="none" stroke="#fdd2a4" d="M49,208L108.47284345047923,142.64285714285714L167.94568690095846,129.57142857142856L227.5814696485623,155.71428571428572L287.0543130990415,116.5L346.5271565495207,77.28571428571428L406,64.21428571428572" stroke-width="2px" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><path fill="none" stroke="#ffffff" d="M49,77.28571428571428L108.47284345047923,51.14285714285714L167.94568690095846,90.35714285714286L227.5814696485623,103.42857142857143L287.0543130990415,77.28571428571428L346.5271565495207,51.14285714285714L406,38.071428571428555" stroke-width="2px" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><circle cx="49" cy="208" r="4" fill="#fdd2a4" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="108.47284345047923" cy="142.64285714285714" r="4" fill="#fdd2a4" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="167.94568690095846" cy="129.57142857142856" r="4" fill="#fdd2a4" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="227.5814696485623" cy="155.71428571428572" r="4" fill="#fdd2a4" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="287.0543130990415" cy="116.5" r="4" fill="#fdd2a4" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="346.5271565495207" cy="77.28571428571428" r="4" fill="#fdd2a4" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="406" cy="64.21428571428572" r="4" fill="#fdd2a4" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="49" cy="77.28571428571428" r="4" fill="#ffffff" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="108.47284345047923" cy="51.14285714285714" r="4" fill="#ffffff" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="167.94568690095846" cy="90.35714285714286" r="4" fill="#ffffff" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="227.5814696485623" cy="103.42857142857143" r="4" fill="#ffffff" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="287.0543130990415" cy="77.28571428571428" r="4" fill="#ffffff" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="346.5271565495207" cy="51.14285714285714" r="4" fill="#ffffff" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="406" cy="38.071428571428555" r="4" fill="#ffffff" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle></svg></div>
            </div>
            <div class="panel-body">
                <div class="tinystat pull-left">
                    <div id="sparkline" class="chart mt5"><canvas width="59" height="30" style="display: inline-block; width: 59px; height: 30px; vertical-align: top;"></canvas></div>
                    <div class="datainfo">
                        <span class="text-muted">Average Sales</span>
                        <h4>$630,201</h4>
                    </div>
                </div><!-- tinystat -->
                <div class="tinystat pull-right">
                    <div id="sparkline2" class="chart mt5"><canvas width="59" height="30" style="display: inline-block; width: 59px; height: 30px; vertical-align: top;"></canvas></div>
                    <div class="datainfo">
                        <span class="text-muted">Total Sales</span>
                        <h4>$139,201</h4>
                    </div>
                </div><!-- tinystat -->
            </div>
        </div><!-- panel -->

    </div><!-- col-sm-6 -->
</div>