@{
    ViewBag.Title = "Welcome";
    Layout = "~/Views/Shared/_default.cshtml";
}
<div class="main-wrap">
    <header class="navbar navbar-inverse">
        <div class="normal-color with-slider opacity">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="~/"><img src="./Oldal_files/logo.png" alt="img"></a>
                        </div>
                    </div>
                    <div class="col-sm-9">
                        <div class="navbar-collapse collapse navbar-right">
                            <ul class="nav navbar-nav social-nav">
                                <li><a href="http://www.teothemes.com/html/Oldal/#"><i class="entyp-twitter-1"></i></a></li>
                                <li><a href="http://www.teothemes.com/html/Oldal/#"><i class="entyp-facebook-1"></i></a></li>
                                <li><a href="http://www.teothemes.com/html/Oldal/#"><i class="entyp-gplus-1"></i></a></li>
                                <li><a href="http://www.teothemes.com/html/Oldal/#"><i class="entyp-pinterest"></i></a></li>
                                <li><a href="http://www.teothemes.com/html/Oldal/#"><i class="entyp-dribbble-1"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-slider" style="overflow: visible;">
            <div id="revolution-shortcode" class="revolution-wrap revslider-initialised tp-simpleresponsive" style="height: 500px;">
                <ul style="display: block; overflow: hidden; width: 100%; height: 100%; max-height: none;">
                    <li data-transition="zoomout" data-slotamount="7" data-masterspeed="1100" style="width: 100%; height: 100%; overflow: hidden; opacity: 1; visibility: visible; left: 0px; top: 0px; position: absolute; z-index: 18;">
                        <div class="slotholder" style="width:100%;height:100%;" data-duration="undefined" data-zoomstart="undefined" data-zoomend="undefined" data-rotationstart="undefined" data-rotationend="undefined" data-ease="undefined" data-bgpositionend="undefined" data-bgposition="left top" data-kenburns="undefined" data-easeme="undefined" data-bgfit="cover" data-bgfitend="undefined" data-owidth="undefined" data-oheight="undefined"><div class="tp-bgimg defaultimg" data-lazyload="undefined" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat" data-lazydone="undefined" data-src="content/images/sliders/slider1.jpg" style="width: 100%; height: 100%; opacity: 0; background-image: url('Content/images/sliders/slider1.jpg'); background-color: rgba(0, 0, 0, 0); background-size: cover; background-position: 0% 0%; background-repeat: no-repeat;"></div></div>
                        <div class="tp-caption fade stb rev-caption start" data-x="center" data-y="center" data-hoffset="0" data-voffset="-1" data-speed="800" data-start="1300" data-easing="Power4.easeOut" data-endspeed="300" data-endeasing="Power1.easeIn" data-captionhidden="off" style="z-index: 6; min-height: 0px; min-width: 0px; white-space: nowrap; line-height: 16px; border-width: 0px; margin: 0px; padding: 0px; font-size: 14px; visibility: visible; opacity: 0; top: 112px; left: 0px; transition: opacity 0.15s linear 0s; -webkit-transition: opacity 0.15s linear 0s; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.00166, 0, 50, 0, 1); -webkit-transform: none;">
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-10 col-sm-offset-1">
                                        <div class="big-inner">
                                            <h2>Welcome to HSoG Portal</h2>
                                            <p>Yes, it is our social portal.</p>
                                            <a href="http://www.teothemes.com/html/Oldal/#" class="btn btn-default">Learn more</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li data-transition="random" data-slotamount="7" data-masterspeed="1100" style="width: 100%; height: 100%; overflow: hidden; visibility: visible; left: 0px; top: 0px; opacity: 1; position: absolute; z-index: 20;">
                        <div class="slotholder" style="width:100%;height:100%;" data-duration="undefined" data-zoomstart="undefined" data-zoomend="undefined" data-rotationstart="undefined" data-rotationend="undefined" data-ease="undefined" data-bgpositionend="undefined" data-bgposition="left top" data-kenburns="undefined" data-easeme="undefined" data-bgfit="cover" data-bgfitend="undefined" data-owidth="undefined" data-oheight="undefined"><div class="tp-bgimg defaultimg" data-lazyload="undefined" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat" data-lazydone="undefined" data-src="content/images/sliders/slider10.jpg" style="width: 100%; height: 100%; opacity: 1; background-image: url('Content/images/sliders/slider10.jpg'); background-color: rgba(0, 0, 0, 0); background-size: cover; background-position: 0% 0%; background-repeat: no-repeat;"></div></div>
                        <div class="tp-caption fade stb rev-caption start" data-x="center" data-y="center" data-hoffset="0" data-voffset="-1" data-speed="800" data-start="1300" data-easing="Power4.easeOut" data-endspeed="300" data-endeasing="Power1.easeIn" data-captionhidden="off" style="z-index: 6; min-height: 0px; min-width: 0px; white-space: nowrap; line-height: 16px; border-width: 0px; margin: 0px; padding: 0px; font-size: 14px; visibility: visible; opacity: 1; top: 112px; left: 0px; transition: opacity 0.15s linear 0s; -webkit-transition: opacity 0.15s linear 0s; transform: none; -webkit-transform: none;">
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-10 col-sm-offset-1">
                                        <div class="big-inner">
                                            <h2>A Bold Responsive Design</h2>
                                            <p>The civil Emperor, before the Mikado, the spiritual Emperor, absorbed his office in his own.  The Carnatic anchored at the quay near the custom-house, in the midst of a crowd of ships bearing the flags of all</p>
                                            <a href="http://www.teothemes.com/html/Oldal/#" class="btn btn-default">Learn more</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li data-transition="random" data-slotamount="7" data-masterspeed="1100" style="width: 100%; height: 100%; overflow: hidden;">
                        <div class="slotholder" style="width:100%;height:100%;" data-duration="undefined" data-zoomstart="undefined" data-zoomend="undefined" data-rotationstart="undefined" data-rotationend="undefined" data-ease="undefined" data-bgpositionend="undefined" data-bgposition="left top" data-kenburns="undefined" data-easeme="undefined" data-bgfit="cover" data-bgfitend="undefined" data-owidth="undefined" data-oheight="undefined"><div class="tp-bgimg defaultimg" data-lazyload="undefined" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat" data-lazydone="undefined" data-src="content/new/slide-city-red.jpg" style="background-color:rgba(0, 0, 0, 0);background-repeat:no-repeat;background-image:url(content/new/slide-city-red.jpg);background-size:cover;background-position:left top;width:100%;height:100%;"></div></div>
                        <div class="tp-caption fade stb rev-caption start" data-x="center" data-y="center" data-hoffset="0" data-voffset="-1" data-speed="800" data-start="1300" data-easing="Power4.easeOut" data-endspeed="300" data-endeasing="Power1.easeIn" data-captionhidden="off" style="z-index: 6">
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-10 col-sm-offset-1">
                                        <div class="big-inner">
                                            <h2>Loaded With Features</h2>
                                            <ul style="display: block;">
                                                <li><i class="entyp-right-open-mini"></i> Responsive Layout (Bootstrap)</li>
                                                <li><i class="entyp-right-open-mini"></i> Retina Icons</li>
                                                <li><i class="entyp-right-open-mini"></i> Multiple Portfolios</li>
                                                <li><i class="entyp-right-open-mini"></i> Instagram Feed</li>
                                                <li><i class="entyp-right-open-mini"></i> Revolution Slider</li>
                                                <li><i class="entyp-right-open-mini"></i> Fancybox 2</li>
                                                <li><i class="entyp-right-open-mini"></i> Multiple Blog Post Formats</li>
                                                <li><i class="entyp-right-open-mini"></i> Multiple Footer Styles</li>
                                                <li><i class="entyp-right-open-mini"></i> Product Layouts</li>

                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li data-transition="random" data-slotamount="7" data-masterspeed="1100" style="width: 100%; height: 100%; overflow: hidden;">
                        <div class="slotholder" style="width:100%;height:100%;" data-duration="undefined" data-zoomstart="undefined" data-zoomend="undefined" data-rotationstart="undefined" data-rotationend="undefined" data-ease="undefined" data-bgpositionend="undefined" data-bgposition="left top" data-kenburns="undefined" data-easeme="undefined" data-bgfit="cover" data-bgfitend="undefined" data-owidth="undefined" data-oheight="undefined"><div class="tp-bgimg defaultimg" data-lazyload="undefined" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat" data-lazydone="undefined" data-src="content/new/slide-team-dark.jpg" style="background-color:rgba(0, 0, 0, 0);background-repeat:no-repeat;background-image:url(content/new/slide-team-dark.jpg);background-size:cover;background-position:left top;width:100%;height:100%;"></div></div>
                        <div class="tp-caption fade stb rev-caption start" data-x="center" data-y="center" data-hoffset="0" data-voffset="-1" data-speed="800" data-start="1300" data-easing="Power4.easeOut" data-endspeed="300" data-endeasing="Power1.easeIn" data-captionhidden="off" style="z-index: 6">
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-10 col-sm-offset-1">
                                        <div class="big-inner">
                                            <h2>Make Your Site Stand Out</h2>
                                            <p>The civil Emperor, before the Mikado, the spiritual Emperor, absorbed his office in his own.  The Carnatic anchored at the quay near the custom-house, in the midst of a crowd of ships bearing the flags of all</p>
                                            <a href="http://www.teothemes.com/html/Oldal/#" class="btn btn-default">Learn more</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li data-transition="random" data-slotamount="7" data-masterspeed="1100" style="width: 100%; height: 100%; overflow: hidden;">
                        <div class="slotholder" style="width:100%;height:100%;" data-duration="undefined" data-zoomstart="undefined" data-zoomend="undefined" data-rotationstart="undefined" data-rotationend="undefined" data-ease="undefined" data-bgpositionend="undefined" data-bgposition="left top" data-kenburns="undefined" data-easeme="undefined" data-bgfit="cover" data-bgfitend="undefined" data-owidth="undefined" data-oheight="undefined"><div class="tp-bgimg defaultimg" data-lazyload="undefined" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat" data-lazydone="undefined" data-src="content/new/slide-shop-dark.jpg" style="background-color:rgba(0, 0, 0, 0);background-repeat:no-repeat;background-image:url(content/new/slide-shop-dark.jpg);background-size:cover;background-position:left top;width:100%;height:100%;"></div></div>
                        <div class="tp-caption fade stb rev-caption start" data-x="center" data-y="center" data-hoffset="0" data-voffset="-1" data-speed="800" data-start="1300" data-easing="Power4.easeOut" data-endspeed="300" data-endeasing="Power1.easeIn" data-captionhidden="off" style="z-index: 6">
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-10 col-sm-offset-1">
                                        <div class="big-inner">
                                            <h2>Sell Products With Style</h2>
                                            <p>The civil Emperor, before the Mikado, the spiritual Emperor, absorbed his office in his own.  The Carnatic anchored at the quay near the custom-house, in the midst of a crowd of ships bearing the flags of all</p>
                                            <a href="http://www.teothemes.com/html/Oldal/#" class="btn btn-default">Learn more</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li data-transition="random" data-slotamount="7" data-masterspeed="1100" style="width: 100%; height: 100%; overflow: hidden; visibility: visible; left: 0px; top: 0px; opacity: 0; position: absolute; z-index: 18;">
                        <div class="slotholder" style="width:100%;height:100%;" data-duration="undefined" data-zoomstart="undefined" data-zoomend="undefined" data-rotationstart="undefined" data-rotationend="undefined" data-ease="undefined" data-bgpositionend="undefined" data-bgposition="left top" data-kenburns="undefined" data-easeme="undefined" data-bgfit="cover" data-bgfitend="undefined" data-owidth="undefined" data-oheight="undefined"><div class="tp-bgimg defaultimg" data-lazyload="undefined" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat" data-lazydone="undefined" data-src="content/new/slide-portfolio-red.jpg" style="width: 100%; height: 100%; opacity: 0; background-image: url(http://www.teothemes.com/html/Oldal/content/new/slide-portfolio-red.jpg); background-color: rgba(0, 0, 0, 0); background-size: cover; background-position: 0% 0%; background-repeat: no-repeat;"></div></div>
                        <div class="tp-caption fade stb rev-caption start" data-x="center" data-y="center" data-hoffset="0" data-voffset="-1" data-speed="800" data-start="1300" data-easing="Power4.easeOut" data-endspeed="300" data-endeasing="Power1.easeIn" data-captionhidden="off" style="z-index: 6">
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-10 col-sm-offset-1">
                                        <div class="big-inner">
                                            <h2>Build Your Dream Site Today!</h2>
                                            <p>The civil Emperor, before the Mikado, the spiritual Emperor, absorbed his office in his own.  The Carnatic anchored at the quay near the custom-house, in the midst of a crowd of ships bearing the flags of all</p>
                                            <a href="http://www.teothemes.com/html/Oldal/#" class="btn btn-default">Learn more</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="tp-loader" style="display: none;"></div><div class="tp-bannertimer" style="visibility: hidden; overflow: hidden; width: 92.88987764182424%;"></div>
            </div>
            <div style="position: absolute; margin-top: -20px; left: 20px; top: 250px;" class="tp-leftarrow tparrows default hidearrows"></div><div style="position: absolute; margin-top: -20px; right: 20px; top: 250px;" class="tp-rightarrow tparrows default hidearrows"></div>
        </div>
        <div class="inverse-color sticky">
            <div class="container">
                <div class="row">
                    <div class="navbar-collapse collapse">
                        
                        <div class="col-sm-11">
                            <ul class="nav navbar-nav main-nav">
                                <li>
                                    <a href="~/">Home</a>
                                    <button class="dropdown-toggle"><i class="glyphicon glyphicon-chevron-down"></i></button>
                                </li>
                                <li>
                                    <a href="~/Home/About">About</a>

                                    <button class="dropdown-toggle"><i class="glyphicon glyphicon-chevron-down"></i></button>
                                </li>
                                <li>
                                    <a href="~/Home/#News">Annoucement</a>
                                    <button class="dropdown-toggle"><i class="glyphicon glyphicon-chevron-down"></i></button>
                                </li>
                                <li class="active">
                                    <a href="Blog">Blog</a>

                                    <button class="dropdown-toggle"><i class="glyphicon glyphicon-chevron-down"></i></button>
                                </li>
                                <li>
                                    <a href="#Calendar">Calendar</a>
                                    <button class="dropdown-toggle"><i class="glyphicon glyphicon-chevron-down"></i></button>
                                </li>
                                <li>
                                    <a href="#Advertisement">Advertisement</a>
                                    <button class="dropdown-toggle"><i class="glyphicon glyphicon-chevron-down"></i></button>
                                </li>
                                <li><a href="~/home/Events">Events</a></li>
                                <li>
                                    <a href="#Social">Social</a>

                                    <button class="dropdown-toggle"><i class="glyphicon glyphicon-chevron-down"></i></button>
                                </li>
                            </ul>
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
      
    </header>
    <section class="statement grey text-center">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h2>Fresh. Creative. Oldal.</h2>

                    <div class="content">
                        At dawn on the 13th the Carnatic entered the port of Yokohama.  This is an important port of call
                        in the Pacific, where all the mail-steamers, and those carrying travellers between North America,
                        China, Japan, and the
                    </div>
                    <button class="btn btn-default btn-statement" type="submit">Learn more</button>
                </div>
            </div>
        </div>
    </section>
    <section class="line">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="col-sm-4 col-xs-12">
                        <div class="title">Our Works</div>
                    </div>
                    <div class="col-sm-8 col-xs-12">
                        <div class="title-content less-margin">
                            Here, as at Hong Kong and Calcutta, were mixed crowds of all races,
                            Americans and English, Chinamen and Dutchmen, mostly merchants ready to
                            buy or sell anything. The Frenchman felt himself as much alone among them
                            as if he had dropped down in the midst of Hottentots. He had,
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="line pt-0">
        <div class="container">
            <div class="recent-work">
                <div class="slider-controls">
                    <button class="left"><i class="entyp-left-open-1"></i></button>
                    <button class="right"><i class="entyp-right-open-1"></i></button>
                </div>

                <div class="flex-viewport" style="overflow: hidden; position: relative;">
                    <ul class="slides" style="width: 800%; -webkit-transition: 0s; transition: 0s; -webkit-transform: translate3d(-1140px, 0px, 0px);">
                        <li class="clone" style="float: left; display: block; width: 1140px;">
                            <div class="row">
                                <div class="col-sm-4">
                                    <figure>
                                        <a href="http://www.teothemes.com/html/Oldal/portfolio-single.html"><img src="./Oldal_files/ourwork04.jpg" alt="img"></a>
                                        <div class="overlay">
                                            <button href="content/ourwork04.jpg" class="trigger-fancybox" title="Portfolio item" rel="portfolio-gallery">
                                                <i class="entyp-picture-1"></i>
                                                <!--<i class="entyp-resize-full-1"></i>-->
                                            </button>
                                        </div>
                                    </figure>
                                    <h4><strong><a href="http://www.teothemes.com/html/Oldal/portfolio-single.html">the port of Yokohama</a></strong></h4>
                                    <a class="category" href="http://www.teothemes.com/html/Oldal/#">Responsive Design</a>
                                </div>
                                <div class="col-sm-4">
                                    <figure>
                                        <a href="http://www.teothemes.com/html/Oldal/portfolio-single.html"><img src="./Oldal_files/ourwork05.jpg" alt="img"></a>
                                        <div class="overlay">
                                            <button href="content/ourwork05.jpg" class="trigger-fancybox" title="Portfolio item" rel="portfolio-gallery">
                                                <i class="entyp-picture-1"></i>
                                                <!--<i class="entyp-resize-full-1"></i>-->
                                            </button>
                                        </div>
                                    </figure>
                                    <h4><strong><a href="http://www.teothemes.com/html/Oldal/portfolio-single.html">the Carnatic entered</a></strong></h4>
                                    <a class="category" href="http://www.teothemes.com/html/Oldal/#">Responsive Design</a>
                                </div>
                                <div class="col-sm-4">
                                    <figure>
                                        <a href="http://www.teothemes.com/html/Oldal/portfolio-single.html"><img src="./Oldal_files/ourwork06.jpg" alt="img"></a>
                                        <div class="overlay">
                                            <button href="content/ourwork06.jpg" class="trigger-fancybox" title="Portfolio item" rel="portfolio-gallery">
                                                <i class="entyp-picture-1"></i>
                                                <!--<i class="entyp-resize-full-1"></i>-->
                                            </button>
                                        </div>
                                    </figure>
                                    <h4><strong><a href="http://www.teothemes.com/html/Oldal/portfolio-single.html">This is an important port</a></strong></h4>
                                    <a class="category" href="http://www.teothemes.com/html/Oldal/#">Responsive Design</a>
                                </div>
                            </div>
                        </li>
                        <li class="flex-active-slide" style="float: left; display: block; width: 1140px;">
                            <div class="row">
                                <div class="col-sm-4">
                                    <figure>
                                        <a href="http://www.teothemes.com/html/Oldal/portfolio-single.html"><img src="./Oldal_files/ourwork01.jpg" alt="img"></a>
                                        <div class="overlay">
                                            <button href="content/ourwork01.jpg" class="trigger-fancybox" title="Portfolio item" rel="portfolio-gallery">
                                                <i class="entyp-picture-1"></i>
                                                <!--<i class="entyp-resize-full-1"></i>-->
                                            </button>
                                        </div>
                                    </figure>
                                    <h4><strong><a href="http://www.teothemes.com/html/Oldal/portfolio-single.html">the port of Yokohama</a></strong></h4>
                                    <a class="category" href="http://www.teothemes.com/html/Oldal/#">Responsive Design</a>
                                </div>
                                <div class="col-sm-4">
                                    <figure>
                                        <a href="http://www.teothemes.com/html/Oldal/portfolio-single.html"><img src="./Oldal_files/ourwork02.jpg" alt="img"></a>
                                        <div class="overlay">
                                            <button href="content/ourwork02.jpg" class="trigger-fancybox" title="Portfolio item" rel="portfolio-gallery">
                                                <i class="entyp-picture-1"></i>
                                                <!--<i class="entyp-resize-full-1"></i>-->
                                            </button>
                                        </div>
                                    </figure>
                                    <h4><strong><a href="http://www.teothemes.com/html/Oldal/portfolio-single.html">the Carnatic entered</a></strong></h4>
                                    <a class="category" href="http://www.teothemes.com/html/Oldal/#">Responsive Design</a>
                                </div>
                                <div class="col-sm-4">
                                    <figure>
                                        <a href="http://www.teothemes.com/html/Oldal/portfolio-single.html"><img src="./Oldal_files/ourwork03.jpg" alt="img"></a>
                                        <div class="overlay">
                                            <button href="content/ourwork03.jpg" class="trigger-fancybox" title="Portfolio item" rel="portfolio-gallery">
                                                <i class="entyp-picture-1"></i>
                                                <!--<i class="entyp-resize-full-1"></i>-->
                                            </button>
                                        </div>
                                    </figure>
                                    <h4><strong><a href="http://www.teothemes.com/html/Oldal/portfolio-single.html">This is an important port</a></strong></h4>
                                    <a class="category" href="http://www.teothemes.com/html/Oldal/#">Responsive Design</a>
                                </div>
                            </div>
                        </li>
                        <li style="float: left; display: block; width: 1140px;">
                            <div class="row">
                                <div class="col-sm-4">
                                    <figure>
                                        <a href="http://www.teothemes.com/html/Oldal/portfolio-single.html"><img src="./Oldal_files/ourwork04.jpg" alt="img"></a>
                                        <div class="overlay">
                                            <button href="content/ourwork04.jpg" class="trigger-fancybox" title="Portfolio item" rel="portfolio-gallery">
                                                <i class="entyp-picture-1"></i>
                                                <!--<i class="entyp-resize-full-1"></i>-->
                                            </button>
                                        </div>
                                    </figure>
                                    <h4><strong><a href="http://www.teothemes.com/html/Oldal/portfolio-single.html">the port of Yokohama</a></strong></h4>
                                    <a class="category" href="http://www.teothemes.com/html/Oldal/#">Responsive Design</a>
                                </div>
                                <div class="col-sm-4">
                                    <figure>
                                        <a href="http://www.teothemes.com/html/Oldal/portfolio-single.html"><img src="./Oldal_files/ourwork05.jpg" alt="img"></a>
                                        <div class="overlay">
                                            <button href="content/ourwork05.jpg" class="trigger-fancybox" title="Portfolio item" rel="portfolio-gallery">
                                                <i class="entyp-picture-1"></i>
                                                <!--<i class="entyp-resize-full-1"></i>-->
                                            </button>
                                        </div>
                                    </figure>
                                    <h4><strong><a href="http://www.teothemes.com/html/Oldal/portfolio-single.html">the Carnatic entered</a></strong></h4>
                                    <a class="category" href="http://www.teothemes.com/html/Oldal/#">Responsive Design</a>
                                </div>
                                <div class="col-sm-4">
                                    <figure>
                                        <a href="http://www.teothemes.com/html/Oldal/portfolio-single.html"><img src="./Oldal_files/ourwork06.jpg" alt="img"></a>
                                        <div class="overlay">
                                            <button href="content/ourwork06.jpg" class="trigger-fancybox" title="Portfolio item" rel="portfolio-gallery">
                                                <i class="entyp-picture-1"></i>
                                                <!--<i class="entyp-resize-full-1"></i>-->
                                            </button>
                                        </div>
                                    </figure>
                                    <h4><strong><a href="http://www.teothemes.com/html/Oldal/portfolio-single.html">This is an important port</a></strong></h4>
                                    <a class="category" href="http://www.teothemes.com/html/Oldal/#">Responsive Design</a>
                                </div>
                            </div>
                        </li>
                        <li class="clone" style="float: left; display: block; width: 1140px;">
                            <div class="row">
                                <div class="col-sm-4">
                                    <figure>
                                        <a href="http://www.teothemes.com/html/Oldal/portfolio-single.html"><img src="./Oldal_files/ourwork01.jpg" alt="img"></a>
                                        <div class="overlay">
                                            <button href="content/ourwork01.jpg" class="trigger-fancybox" title="Portfolio item" rel="portfolio-gallery">
                                                <i class="entyp-picture-1"></i>
                                                <!--<i class="entyp-resize-full-1"></i>-->
                                            </button>
                                        </div>
                                    </figure>
                                    <h4><strong><a href="http://www.teothemes.com/html/Oldal/portfolio-single.html">the port of Yokohama</a></strong></h4>
                                    <a class="category" href="http://www.teothemes.com/html/Oldal/#">Responsive Design</a>
                                </div>
                                <div class="col-sm-4">
                                    <figure>
                                        <a href="http://www.teothemes.com/html/Oldal/portfolio-single.html"><img src="./Oldal_files/ourwork02.jpg" alt="img"></a>
                                        <div class="overlay">
                                            <button href="content/ourwork02.jpg" class="trigger-fancybox" title="Portfolio item" rel="portfolio-gallery">
                                                <i class="entyp-picture-1"></i>
                                                <!--<i class="entyp-resize-full-1"></i>-->
                                            </button>
                                        </div>
                                    </figure>
                                    <h4><strong><a href="http://www.teothemes.com/html/Oldal/portfolio-single.html">the Carnatic entered</a></strong></h4>
                                    <a class="category" href="http://www.teothemes.com/html/Oldal/#">Responsive Design</a>
                                </div>
                                <div class="col-sm-4">
                                    <figure>
                                        <a href="http://www.teothemes.com/html/Oldal/portfolio-single.html"><img src="./Oldal_files/ourwork03.jpg" alt="img"></a>
                                        <div class="overlay">
                                            <button href="content/ourwork03.jpg" class="trigger-fancybox" title="Portfolio item" rel="portfolio-gallery">
                                                <i class="entyp-picture-1"></i>
                                                <!--<i class="entyp-resize-full-1"></i>-->
                                            </button>
                                        </div>
                                    </figure>
                                    <h4><strong><a href="http://www.teothemes.com/html/Oldal/portfolio-single.html">This is an important port</a></strong></h4>
                                    <a class="category" href="http://www.teothemes.com/html/Oldal/#">Responsive Design</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="line">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="col-sm-4 col-xs-12">
                        <div class="title">The Team</div>
                    </div>
                    <div class="col-sm-8 col-xs-12">
                        <div class="title-content less-margin">
                            Here, as at Hong Kong and Calcutta, were mixed crowds of all races, Americans and English,
                            Chinamen and Dutchmen, mostly merchants ready to buy or sell anything.
                            The Frenchman felt himself as much alone among them as if he had dropped down
                            in the midst of Hottentots. He had, at least, one resource to call on the French
                            and English consuls at Yokohama for assistance.  But he shrank from telling the
                            story of his adventures, intimately connected as it was with that of his master; and,
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="team">
        <div class="container">
            <div class="row">
                <div class="col-sm-2">
                    <figure>
                        <img src="./Oldal_files/team01.jpg" alt="img">
                        <div class="overlay"></div>
                        <div class="buttons">
                            <div class="inner">
                                <ul class="buttons-wrap">
                                    <li><a href="http://www.teothemes.com/html/Oldal/#"><i class="entyp-facebook-1"></i></a></li>
                                    <li><a href="http://www.teothemes.com/html/Oldal/#"><i class="entyp-twitter-1"></i></a></li>
                                    <li><a href="http://www.teothemes.com/html/Oldal/#"><i class="entyp-linkedin-1"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </figure>
                    <h5><strong>Steve Hillenbrand</strong></h5>
                    <div class="position">Founder, CEO</div>
                </div>
                <div class="col-sm-2">
                    <figure>
                        <img src="./Oldal_files/team02.jpg" alt="img">
                        <div class="overlay"></div>
                        <div class="buttons">
                            <div class="inner">
                                <ul class="buttons-wrap">
                                    <li><a href="http://www.teothemes.com/html/Oldal/#"><i class="entyp-facebook-1"></i></a></li>
                                    <li><a href="http://www.teothemes.com/html/Oldal/#"><i class="entyp-twitter-1"></i></a></li>
                                    <li><a href="http://www.teothemes.com/html/Oldal/#"><i class="entyp-linkedin-1"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </figure>
                    <h5><strong>Erica Dunn</strong></h5>
                    <div class="position">Founder, COO</div>
                </div>
                <div class="col-sm-2">
                    <figure>
                        <img src="./Oldal_files/team03.jpg" alt="img">
                        <div class="overlay"></div>
                        <div class="buttons">
                            <div class="inner">
                                <ul class="buttons-wrap">
                                    <li><a href="http://www.teothemes.com/html/Oldal/#"><i class="entyp-facebook-1"></i></a></li>
                                    <li><a href="http://www.teothemes.com/html/Oldal/#"><i class="entyp-twitter-1"></i></a></li>
                                    <li><a href="http://www.teothemes.com/html/Oldal/#"><i class="entyp-linkedin-1"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </figure>
                    <h5><strong>Thomas Ahrens</strong></h5>
                    <div class="position">Senior Developer</div>
                </div>
                <div class="col-sm-2">
                    <figure>
                        <img src="./Oldal_files/team04.jpg" alt="img">
                        <div class="overlay"></div>
                        <div class="buttons">
                            <div class="inner">
                                <ul class="buttons-wrap">
                                    <li><a href="http://www.teothemes.com/html/Oldal/#"><i class="entyp-facebook-1"></i></a></li>
                                    <li><a href="http://www.teothemes.com/html/Oldal/#"><i class="entyp-twitter-1"></i></a></li>
                                    <li><a href="http://www.teothemes.com/html/Oldal/#"><i class="entyp-linkedin-1"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </figure>
                    <h5><strong>Wilma Reuter</strong></h5>
                    <div class="position">Art Director</div>
                </div>
                <div class="col-sm-2">
                    <figure>
                        <img src="./Oldal_files/team05.jpg" alt="img">
                        <div class="overlay"></div>
                        <div class="buttons">
                            <div class="inner">
                                <ul class="buttons-wrap">
                                    <li><a href="http://www.teothemes.com/html/Oldal/#"><i class="entyp-facebook-1"></i></a></li>
                                    <li><a href="http://www.teothemes.com/html/Oldal/#"><i class="entyp-twitter-1"></i></a></li>
                                    <li><a href="http://www.teothemes.com/html/Oldal/#"><i class="entyp-linkedin-1"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </figure>
                    <h5><strong>David Haro</strong></h5>
                    <div class="position">Account Manager</div>
                </div>
                <div class="col-sm-2">
                    <figure>
                        <img src="./Oldal_files/team06.jpg" alt="img">
                        <div class="overlay"></div>
                        <div class="buttons">
                            <div class="inner">
                                <ul class="buttons-wrap">
                                    <li><a href="http://www.teothemes.com/html/Oldal/#"><i class="entyp-facebook-1"></i></a></li>
                                    <li><a href="http://www.teothemes.com/html/Oldal/#"><i class="entyp-twitter-1"></i></a></li>
                                    <li><a href="http://www.teothemes.com/html/Oldal/#"><i class="entyp-linkedin-1"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </figure>
                    <h5><strong>Cindy Goldstein</strong></h5>
                    <div class="position">Assistant</div>
                </div>
            </div>
        </div>
    </section>
    <section class="line">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="col-sm-4 col-xs-12">
                        <div class="title">Our Services</div>
                    </div>
                    <div class="col-sm-8 col-xs-12">
                        <div class="title-content less-margin">
                            Here, as at Hong Kong and Calcutta, were mixed crowds of all races,
                            Americans and English, Chinamen and Dutchmen, mostly merchants ready to
                            buy or sell anything. The Frenchman felt himself as much alone among them
                            as if he had dropped down in the midst of Hottentots. He had,
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="line pt-0">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="box">
                        <header>
                            <div class="title">
                                <div class="oldal-icon grey-icon lg-icon">
                                    <i class="entyp-chart-line"></i>
                                </div>
                                Research &amp; Analsysis
                            </div>
                        </header>
                        <div class="content lg-padded">
                            Penetrated that inhabited by the native Japanese,
                            determined, if necessary, to push on to Yeddo.
                            The Japanese quarter of Yokohama is called Benten,
                            after the goddess of the sea, who is worshipped on the
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="box">
                        <header>
                            <div class="title">
                                <div class="oldal-icon grey-icon lg-icon">
                                    <i class="entyp-paper-plane"></i>
                                </div>
                                Project Management
                            </div>
                        </header>
                        <div class="content lg-padded">
                            Penetrated that inhabited by the native Japanese,
                            determined, if necessary, to push on to Yeddo.
                            The Japanese quarter of Yokohama is called Benten,
                            after the goddess of the sea, who is worshipped on the
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="box">
                        <header>
                            <div class="title">
                                <div class="oldal-icon grey-icon lg-icon">
                                    <i class="entyp-user-1"></i>
                                </div>
                                Consultancy
                            </div>
                        </header>
                        <div class="content lg-padded">
                            Penetrated that inhabited by the native Japanese,
                            determined, if necessary, to push on to Yeddo.
                            The Japanese quarter of Yokohama is called Benten,
                            after the goddess of the sea, who is worshipped on the
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="box">
                        <header>
                            <div class="title">
                                <div class="oldal-icon grey-icon lg-icon">
                                    <i class="entyp-monitor"></i>
                                </div>
                                Website Design
                            </div>
                        </header>
                        <div class="content lg-padded">
                            Penetrated that inhabited by the native Japanese,
                            determined, if necessary, to push on to Yeddo.
                            The Japanese quarter of Yokohama is called Benten,
                            after the goddess of the sea, who is worshipped on the
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="line">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="col-sm-4 col-xs-12">
                        <div class="title">Our Clients</div>
                    </div>
                    <div class="col-sm-8 col-xs-12">
                        <div class="title-content less-margin">
                            As chance did not favour him in the European quarter, he penetrated
                            that inhabited by the native Japanese, determined, if necessary, to
                            push on to Yeddo. The Japanese quarter of Yokohama is
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="line">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <ul class="clients">
                        <li>
                            <figure>
                                <a href="http://www.teothemes.com/html/Oldal/#">
                                    <img src="./Oldal_files/client-1.png" alt="img">
                                </a>
                            </figure>
                        </li>
                        <li>
                            <figure>
                                <a href="http://www.teothemes.com/html/Oldal/#">
                                    <img src="./Oldal_files/client-2.png" alt="img">
                                </a>
                            </figure>
                        </li>
                        <li>
                            <figure>
                                <a href="http://www.teothemes.com/html/Oldal/#">
                                    <img src="./Oldal_files/client-3.png" alt="img">
                                </a>
                            </figure>
                        </li>
                        <li>
                            <figure>
                                <a href="http://www.teothemes.com/html/Oldal/#">
                                    <img src="./Oldal_files/client-4.png" alt="img">
                                </a>
                            </figure>
                        </li>
                        <li>
                            <figure>
                                <a href="http://www.teothemes.com/html/Oldal/#">
                                    <img src="./Oldal_files/client-5.png" alt="img">
                                </a>
                            </figure>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="statement blue">
        <h2>
            "Choosing Oldal to build my new website was the smartest move I've made. With so many features and layout options, customizing my website was a breeze. Did I mention Oldal is fully responsive?!"
        </h2>
        <button class="btn btn-default btn-statement" type="submit">More Reviews</button>
    </section>
</div>
