<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content="IE=edge,IE=9,IE=8,chrome=1" /><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta content="" name="description">
    <meta content="" name="author">
    <!-- end: META -->
    <!-- start: MAIN CSS -->
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/animate.min.css">
    <link rel="stylesheet" href="~/Content/all.css">
    <link rel="stylesheet" href="~/Content/styles.css">
    <link rel="stylesheet" href="~/Content/styles-responsive.css">
    @*<link rel="stylesheet" href="http://www.cliptheme.com/demo/rapido/assets/plugins/iCheck/skins/all.css">*@
    <!--[if IE 7]>
    <link rel="stylesheet" href="assets/plugins/font-awesome/css/font-awesome-ie7.min.css">
    <![endif]-->
    <!-- end: MAIN CSS -->
    <!-- start: CSS REQUIRED FOR THIS PAGE ONLY -->
    <!-- end: CSS REQUIRED FOR THIS PAGE ONLY -->
    <style>
        [touch-action="none"] {
            -ms-touch-action: none;
            touch-action: none;
        }

        [touch-action="pan-x"] {
            -ms-touch-action: pan-x;
            touch-action: pan-x;
        }

        [touch-action="pan-y"] {
            -ms-touch-action: pan-y;
            touch-action: pan-y;
        }

        [touch-action="scroll"], [touch-action="pan-x pan-y"], [touch-action="pan-y pan-x"] {
            -ms-touch-action: pan-x pan-y;
            touch-action: pan-x pan-y;
        }
    </style>
    <!-- Copyright 2014 Evernote Corporation. All rights reserved. -->
    <style id="style-1-cropbar-clipper">
        .en-markup-crop-options {
            top: 18px !important;
            left: 50% !important;
            margin-left: -90px !important;
            width: 180px !important;
            border: 2px rgba(255,255,255,.38) solid !important;
            border-radius: 4px !important;
        }

            .en-markup-crop-options div div:first-of-type {
                margin-left: 0px !important;
            }
    </style>
</head>
<body class="login">
 
        @RenderBody()
    
 @RenderSection("scripts", required: false)
   
</body>

</html>



<!-- start: MAIN JAVASCRIPTS -->
<!--[if lt IE 9]>
<script src="assets/plugins/respond.min.js"></script>
<script src="assets/plugins/excanvas.min.js"></script>
<script type="text/javascript" src="assets/plugins/jQuery/jquery-1.11.1.min.js"></script>
<![endif]-->
<!--[if gte IE 9]><!-->
<script src="~/Scripts/jquery-2.1.1.min.js"></script>
<!--<![endif]-->
<script src="~/Scripts/jquery-ui-1.10.4.min.js"></script>
<script src="/Scripts/jquery.validate.js"></script>
<script src="/Scripts/jquery.validate.unobtrusive.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/jquery.icheck.min.js"></script>
<script src="~/Scripts/jquery.transit.js"></script>
<script src="~/Scripts/main.js"></script>
<!-- end: MAIN JAVASCRIPTS -->
<!-- start: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/login.js"></script>
<!-- end: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->

<script>
    jQuery(document).ready(function () {
        Main.init();
        Login.init();
    });
</script>
