<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
 <!--<![endif]-->

@*<html class="js flexbox canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths" style="">*@
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>@ViewBag.Title - HSoG</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, maximum-scale=1, minimum-scale=1">
    <link rel="icon" type="image/png" href="~/Content/images/favicon.png">
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/flexslider.css">
    <link rel="stylesheet" href="~/Content/jquery.mCustomScrollbar.css">
    <link rel="stylesheet" href="~/Content/jquery.selectBoxIt.css">
    <link rel="stylesheet" href="~/Content/entypo.css">
    <link href="~/Content/settings.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/jquery.fancybox.css">
    <link rel="stylesheet" href="~/Content/oldalstyle.css">
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <script src="~/Scripts/respond.min.js"></script>

    <style id="fit-vids-style">
        .fluid-width-video-wrapper {
            width: 100%;
            position: relative;
            padding: 0;
        }

            .fluid-width-video-wrapper iframe, .fluid-width-video-wrapper object, .fluid-width-video-wrapper embed {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
    </style>
    <style type="text/css">
        .fancybox-margin {
            margin-right: 17px;
        }
    </style>
</head>
<body style="margin-bottom: 386px; padding-top: 75px;">

    @RenderBody()

    <footer class="main-footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <div class="footer-widget">
                        <h2>Latest Posts</h2>
                        <div class="widget-content latest-post">
                            <ul>
                                <li>
                                    <h3><a href="http://www.teothemes.com/html/Oldal/#">Thoroughly European quarter</a></h3>
                                    <p>He had nothing better to do than, taking chance for his guide, to wander aimlessly</p>
                                    <span class="date">October 25</span>
                                </li>
                                <li>
                                    <h3><a href="http://www.teothemes.com/html/Oldal/#">Thoroughly European quarter</a></h3>
                                    <p>He had nothing better to do than, taking chance for his guide, to wander aimlessly</p>
                                    <span class="date">October 25</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="footer-widget">
                        <h2>Contact</h2>
                        <div class="widget-content">
                            <address>
                                2806 North Avenue <br>
                                Wilber, NY 68465
                            </address>
                            <address>
                                <strong>Phone: 402-821-9891</strong> <br>
                                <strong>E-mail: info@oldal.com</strong>
                            </address>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="footer-widget">
                        <h2>Instagram</h2>
                        <div class="widget-content instagram">
                            <div class="row">
                                <div class="insta"><a rel="group" class="instagram-photo" id="p798005627396355472_1138644" href="http://scontent-b.cdninstagram.com/hphotos-xaf1/t51.2885-15/10654879_679387735470486_1822265815_n.jpg" title="" the="" beales"="" -="" taiwan="" typo="" edition="" of="" white="" album.="" (514="" likes)"="" style="display: block;"><img src="./Oldal_files/10654879_679387735470486_1822265815_s.jpg" width="100%" rel="None"></a><a rel="group" class="instagram-photo" id="p797814518397335257_1138644" href="http://scontent-a.cdninstagram.com/hphotos-xaf1/t51.2885-15/10611007_1474642949457896_1601221819_n.jpg" title="My buddy and me ♬ (600 Likes)" style="display: block;"><img src="./Oldal_files/10611007_1474642949457896_1601221819_s.jpg" width="100%" rel="None"></a><a rel="group" class="instagram-photo" id="p795707276395083772_1138644" href="http://scontent-b.cdninstagram.com/hphotos-xaf1/t51.2885-15/10643889_941350982548849_195823806_n.jpg" title="Behind the scenes of our chopard cinemagraph shoot - visit us.chopard.com to see the whole story! #chopardsecrets (437 Likes)" style="display: block;"><img src="./Oldal_files/10643889_941350982548849_195823806_s.jpg" width="100%" rel="chopardsecrets"></a><a rel="group" class="instagram-photo" id="p791277812969961008_1138644" href="http://scontent-b.cdninstagram.com/hphotos-xfa1/t51.2885-15/1737054_304864449684379_952805194_n.jpg" title="Behind the scenes... not such a bad place to be. Editorial today on annstreetstudio.com (512 Likes)" style="display: block;"><img src="./Oldal_files/1737054_304864449684379_952805194_s.jpg" width="100%" rel="None"></a><a rel="group" class="instagram-photo" id="p789126252810794575_1138644" href="http://scontent-a.cdninstagram.com/hphotos-xaf1/t51.2885-15/10608064_584588088317242_685254228_n.jpg" title="1937 Cord Cabriolet - of the unusual and obscure cars here at #pebblebeach this was a standout. (469 Likes)" style="display: block;"><img src="./Oldal_files/10608064_584588088317242_685254228_s.jpg" width="100%" rel="pebblebeach"></a><a rel="group" class="instagram-photo" id="p789107072099218471_1138644" href="http://scontent-b.cdninstagram.com/hphotos-xfa1/t51.2885-15/10576196_1540485286172797_1832873857_n.jpg" title="Welcome to The Future! - 1958 Ferrari 250 Testa Rossa #pebblebeach2014 (758 Likes)" style="display: block;"><img src="./Oldal_files/10576196_1540485286172797_1832873857_s.jpg" width="100%" rel="pebblebeach2014"></a><a rel="group" class="instagram-photo" id="p789096409054377712_1138644" href="http://scontent-a.cdninstagram.com/hphotos-xaf1/t51.2885-15/10584652_1539606756260820_1370093172_n.jpg" title="Open heart surgery on a 1956 Maserati #pebblebeach2014 (318 Likes)" style="display: block;"><img src="./Oldal_files/10584652_1539606756260820_1370093172_s.jpg" width="100%" rel="pebblebeach2014"></a><a rel="group" class="instagram-photo" id="p787939978162796131_1138644" href="http://scontent-b.cdninstagram.com/hphotos-xap1/t51.2885-15/10523538_362322683920401_1231127677_n.jpg" title="A dream afternoon spent driving down the 1 highway. (970 Likes)" style="display: block;"><img src="./Oldal_files/10523538_362322683920401_1231127677_s.jpg" width="100%" rel="None"></a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="footer-info text-right">
                        <ul class="footer-social">
                            <li><a href="http://www.teothemes.com/html/Oldal/#"><i class="entyp-twitter-1"></i></a></li>
                            <li><a href="http://www.teothemes.com/html/Oldal/#"><i class="entyp-facebook-1"></i></a></li>
                            <li><a href="http://www.teothemes.com/html/Oldal/#"><i class="entyp-gplus-1"></i></a></li>
                            <li><a href="http://www.teothemes.com/html/Oldal/#"><i class="entyp-pinterest"></i></a></li>
                            <li><a href="http://www.teothemes.com/html/Oldal/#"><i class="entyp-dribbble-1"></i></a></li>
                        </ul>
                        <p>Copyright © 2014</p>
                        <p>OLDAL - All rights reserved</p>
                        <p>Developed by <a href="http://teothemes.com/" title="WordPress themes">TeoThemes</a></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    @*<script src="~/Scripts/jquery-2.1.1.min.js"></script>*@
    <script src="~/Scripts/jquery-1.11.0.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="~/Scripts/jquery.mousewheel.js"></script>
    <script src="~/Scripts/jquery.mCustomScrollbar.js"></script>
    <script src="~/Scripts/jquery.selectBoxIt.min.js"></script>
    <script src="~/Scripts/jquery.raty.min.js"></script>
    <script src="~/Scripts/jquery.flexslider.js"></script>
    <script src="~/Scripts/jquery.isotope.min.js"></script>
    <script src="~/Scripts/jquery.fancybox.pack.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/simpleInstagramFancybox.js"></script>
    <script src="~/Scripts/fitvids.js"></script>
    <script src="~/Scripts/mainoldal.js"></script>
    <script>
        $('#revolution-shortcode').revolution({
            delay: 90000,
            hideThumbs: 10,
            navigationVOffset: -30,
            navigationType: "none",
            navigationStyle: "round-old"
        });
    </script>
</body>
</html>
